<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.dao.ProjectEntityMapper">

    <!--1-->
    <select id="queryMovieTypeNum" resultType="map">
        select name, num
        from movies_type_num
        order by num asc
    </select>

    <!--2-1-->
    <select id="queryMovieYearNum" resultType="map">
        select year, num
        from movies_years_num
        order by year asc
    </select>

    <!--2-2-->
    <select id="queryMovieYearRevenue" resultType="map">
        select year, revenue
        from movies_years_num
        order by year asc
    </select>

    <!--3-->
    <select id="queryMovieTypeTimeNum" resultType="map">
        select type, year, num
        from movies_type_time_num
        order by year
    </select>

    <!--4-->
    <select id="queryMovieAreaNum" resultType="map">
        select name, num
        from movies_area_num
        order by num asc
    </select>

    <!--5-->
    <select id="queryMovieTypeRevenue" resultType="map">
        select type, revenue
        from movies_type_revenue
    </select>

    <!--6-->
    <select id="queryMovieTypeVote" resultType="map">
        select type, vote
        from movies_type_vote
    </select>

    <!--7-->
    <select id="queryMovieTimeRevenue" resultType="map">
        select time, revenue
        from movies_time_revenue
        where revenue between 1 and 1500000000
        order by time asc
    </select>

    <!--8-->
    <select id="queryMovieTimeVote" resultType="map">
        select time, vote
        from movies_time_vote
        where (time between 1 and 600) and vote > 0
        order by time asc
    </select>
    <!--9-->
    <select id="queryKeywords" resultType="map">
        select name,value
        from movies_keywords
    </select>
    <!--请求电影列表-->
    <select id="queryMoviesList" resultType="map">
        select id, overview,title,title,release_date,runtime,vote_average,poster_path
        from movies
    </select>
    <!--填写评价信息-->
    <insert id="insertRatingInfo" parameterType="map">
        insert into ratings
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="movieId != null">
                movieId,
            </if>
            <if test="rating != null">
                rating,
            </if>
            <if test="timestamp != null">
                timestamp,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="movieId != null">
                #{movieId,jdbcType=INTEGER},
            </if>
            <if test="rating != null">
                #{rating,jdbcType=DOUBLE},
            </if>
            <if test="timestamp != null">
                #{timestamp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>